* {
	min-height: 22px;
	font-size: 14px;
	font-family: Iosevka NF SemiBold;
}

window#waybar {
	background: #10001D;
	color: #ffffff;
}

#custom-right-arrow-one {
	color: #ffffff;
}

#custom-right-arrow-two {
	color: #ffffff;
}

#custom-left-arrow-one {
	color: #ffffff;
}

#custom-left-arrow-two {
	color: #ffffff;
}

#workspaces, 
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
        background: #10001D;
	color: #ffffff;
}

#workspaces button {
	color: #ffffff;
	padding: 0 10px;
}
#workspaces button.focused {
	color: #000000;
	background: #C732B6;
}

#workspaces button.focused.occupied {
	color: #000000;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #C732B6;
	color: #000000;
	padding: 0 10px;
}

#workspaces button.occupied:hover {
	color: #000000;
	background: #C732B6;
}

#workspaces button.occupied {
	color: #eba3d8;
}


#pulseaudio {
	color: #ffffff;
}
#memory {
	color: #ffffff;
}
#cpu {
	color: #ffffff;
}
#battery {
	color: #ffffff;
}
#disk {
	color: #ffffff;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
