* {
	min-height: 22px;
	font-size: 14px;
	font-family: Iosevka NF SemiBold;
}


@import '/home/witch/.cache/wal/colors-waybar.css';

@define-color bg @background;
@define-color fg @foreground;
@define-color textcolor @cursor;

window#waybar {
	background: @bg;
	color: @textcolor;
}

#workspaces, 
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
        background: @bg;
	color: @textcolor;
}

#workspaces button {
	color: @textcolor;
	padding: 0 10px;
}
#workspaces button.focused {
	color: #000000;
	background: @color2;
}

#workspaces button.focused.occupied {
	color: #000000;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #C732B6;
	color: #000000;
	padding: 0 10px;
}

#workspaces button.occupied:hover {
	color: #000000;
	background: #C732B6;
}

#workspaces button.occupied {
	color: #eba3d8;
}


#pulseaudio {
	color: @textcolor;
}
#memory {
	color: @textcolor;
}
#cpu {
	color: @textcolor;
}
#battery {
	color: @textcolor;
}
#disk {
	color: @textcolor;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
