* {
	min-height: 22px;
	font-size: 14px;
	font-family: "JetBrainsMonoNL Nerd Font Propo";
}

window#waybar {
	background: #000000;
	color: #ffffff;
}

#custom-right-arrow-one {
	color: #ffffff;
}

#custom-right-arrow-two {
	color: #ffffff;
}

#custom-left-arrow-one {
	color: #ffffff;
}

#custom-left-arrow-two {
	color: #ffffff;
}

#workspaces, 
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk
#tray {
        background: #000000;
	color: #ffffff;
}

#workspaces button {
	padding: 0 10px;
	color: #ffffff;
}
#workspaces button.focused {
	color: #ADFF2F;
	background: #041c01;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1f1f1f;
	color: #adff2f;
	padding: 0 10px;
}

#workspaces button.occupied {
	color: #ADFF2F

}

#pulseaudio {
	color: #ffffff;
}
#memory {
	color: #ffffff;
}
#cpu {
	color: #ffffff;
}
#battery {
	color: #ffffff;
}
#disk {
	color: #ffffff;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
